
.carosel-image:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; 
    height:100%;
    display:inline-block;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.773) 0%,rgba(43, 17, 17, 0) 100%); 
    border-radius: 20px;
  
  }